<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1, shrink-to-fit=no">
<!-- CSS読み込み -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/list.css}">
<!-- JS読み込み -->
<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>


<title>お買い物リスト</title>
</head>
<body>		
	<div class="container">
	<h2>本日のお買い物リスト</h2>	
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>名前</th>
					<th>個数</th>
					<th>値段</th>
					<th>編集</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="shoppingList:${shoppingList}" th:object="${shoppingList}">
					<td th:text="*{id}" th:id="id"></td>
                	<td th:text="*{name}" th:id="name"></td>
                	<td th:text="*{quantity}" th:id="quantity"></td>
                	<td th:text="*{price}" th:id="price"></td>
                	<td>
                	<div class="btn-group" role="group" aria-label="Basic example">
					<form th:action="@{'/update/' + ${shoppingList.id}}" method="get">
						<button type="button" class="btn btn-primary">更新</button>
					</form>
					<form th:action="@{'/delete/' + ${shoppingList.id}}" method="post">
						<button type="button" class="btn btn-danger">削除</button>
					</form>
					</div>
					</td>
                </tr>
			</tbody>
		</table>
		</div>
		
		<br><br><a th:href="@{/top}">トップ画面へ</a>
</body>
</html>